.profile-info{
  border-radius: 21px;
  width: 100%;
  min-height: 85px;
  background: rgba(var(--bg-c),1.0);
  padding: 17px 13px 18px;
  grid-gap: 26px;
  display: flex;
  position: relative;

  &:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 1px;
    border: 1px solid var(--br-a);
    content: '';
    pointer-events: none;
  }

  &__title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 87%;
    letter-spacing: -0.02em;
    color: rgba(var(--cl-c),1.0);
  }

  &__box {
    flex: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px 6px;
    align-items: end;

    &--mode {
      grid-template-columns: 1fr;
    }
  }

  &__name{
    align-self: start;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(var(--cl-d),1.0);
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__icon{
    align-self: center;
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    background-color: rgba(var(--bg-a),1.0);
    border-radius: 50%;
    overflow: hidden;
    grid-column: 1;
    grid-row: 1/3;
    border: solid 1px var(--br-b);

    img,svg{
      width: 100%;
      height: 100%;
    }
  }

  &__subtitle{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: rgba(var(--cl-e),1.0);
  }

  &--mode{
    flex-direction: column;
    grid-gap: 5px;
    padding: 13px 23px 20px;

    &:before{
      content: none;
    }
  }
}
